# List Operations

 - Create a list of 5 fruits

In [4]:
fruits = ['Mango', 'Banana', 'Orange', 'Kiwi', 'Watermelon']
fruits

['Mango', 'Banana', 'Orange', 'Kiwi', 'Watermelon']

## Perform the following operations

1. Add another fruit to the list.

In [7]:
fruits.append('Pear')
fruits

['Mango', 'Banana', 'Orange', 'Kiwi', 'Watermelon', 'Pear']

2. Remove a fruit from the list.

In [9]:
fruits.remove('Pear')
fruits

['Mango', 'Banana', 'Orange', 'Kiwi', 'Watermelon']

3. Sort the list alphabetically

In [11]:
fruits.sort()
fruits

['Banana', 'Kiwi', 'Mango', 'Orange', 'Watermelon']

4. Count how many fruits are in the list

In [13]:
length= len('fruits')
print(length)

6

5. Check if a particular fruit (e.g., “banana”) is in the list

In [15]:
checking_for_Banana = 'Banana' in fruits
checking_for_Banana

True

6. Reverse the list and display the result

In [17]:
fruits.reverse()
fruits

['Watermelon', 'Orange', 'Mango', 'Kiwi', 'Banana']

7. Remove all fruits from the list at once using a method

In [19]:
fruits.clear()
fruits

[]

# Tuple Operations

- Create a tuple of 5 different numbers

In [22]:
my_tuple = (1,2,3,4,5)
my_tuple

(1, 2, 3, 4, 5)

1. Calculate the sum, minimum, and maximum of the numbers in the tuple

In [24]:
Total = sum(my_tuple) #sum
Total

15

In [25]:
min_value = min(my_tuple)# minimum
min_value

1

In [26]:
max_value = max(my_tuple)#maximum
max_value

5

2. Find the index of a specific number in the tuple

In [28]:
index_5 = my_tuple.index(5)
index_5

4

3. Check if a number (e.g., 15) exists in the tuple

In [30]:
if_2_exists = 2 in my_tuple
if_2_exists

True

4. Convert the tuple into a list, add a number to the list, and convert it back to a tuple.

In [32]:
new_tuple = list(my_tuple)
new_tuple

[1, 2, 3, 4, 5]

In [33]:
new_tuple.insert(0,6)
new_tuple

[6, 1, 2, 3, 4, 5]

In [34]:
updated_tuple = tuple(new_tuple)
updated_tuple

(6, 1, 2, 3, 4, 5)

# Dictionary Operations

- Create a dictionary to store information about three students

In [37]:
students = {
   "Jake":{"age": 20, "grade": "B"},
    "Jimna":{"age": 22, "grade": "A"},
    "Robert": {"age": 19, "grade": "C"}
}
students

{'Jake': {'age': 20, 'grade': 'B'},
 'Jimna': {'age': 22, 'grade': 'A'},
 'Robert': {'age': 19, 'grade': 'C'}}

1. Add a new student to the dictionary.

In [39]:
students ["Job"]= {"age": 33, "grade": "A"}
students

{'Jake': {'age': 20, 'grade': 'B'},
 'Jimna': {'age': 22, 'grade': 'A'},
 'Robert': {'age': 19, 'grade': 'C'},
 'Job': {'age': 33, 'grade': 'A'}}

2. Update the grade of one student

In [41]:
students['Job']= {"age": 33, "grade": "B"} # replacing the whole column
students

{'Jake': {'age': 20, 'grade': 'B'},
 'Jimna': {'age': 22, 'grade': 'A'},
 'Robert': {'age': 19, 'grade': 'C'},
 'Job': {'age': 33, 'grade': 'B'}}

In [42]:
students['Job'].update({"age": 33, "grade": "C"})# using update function
students

{'Jake': {'age': 20, 'grade': 'B'},
 'Jimna': {'age': 22, 'grade': 'A'},
 'Robert': {'age': 19, 'grade': 'C'},
 'Job': {'age': 33, 'grade': 'C'}}

3. Remove a student from the dictionary.

In [44]:
del students['Job']
students

{'Jake': {'age': 20, 'grade': 'B'},
 'Jimna': {'age': 22, 'grade': 'A'},
 'Robert': {'age': 19, 'grade': 'C'}}

4. Print out the dictionary showing each student’s name, age, and grade.

In [46]:
students

{'Jake': {'age': 20, 'grade': 'B'},
 'Jimna': {'age': 22, 'grade': 'A'},
 'Robert': {'age': 19, 'grade': 'C'}}

5. Check if a student (e.g., “John”) exists in the dictionary

In [48]:
does_Robert_exist = 'Robert' in students
does_Robert_exist

True

6. List all student names and their grades only (exclude age)

In [63]:
for name, details in students.items():
    print(name+ ': '+ details['grade'])

Jake: B
Jimna: A
Robert: C

7. Clear the dictionary using the appropriate method.

In [79]:
students.clear()
students

{}